<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Add Joke</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.css} "/>


</head>

<body>

<div class="container-fluid">
    <h2 class="text-center"> Add Joke </h2>

    <div class="my-3">
        <form th:action="@{/joke/add}" th:object="${joke}" method="post" enctype="multipart/form-data"
              style="max-width: 550px; margin: 0 auto">
            <input type="hidden" th:field="*{id}"/>
            <div class="p-3">
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="setup">Setup</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{setup}" class="form-control" id="setup"/>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-sm-3 col-form-label" for="punchline">Punchline</label>
                    <div class="col-sm-6">
                        <input type="text" th:field="*{punchline}" class="form-control" id="punchline"/>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-success">Add joke</button>
                </div>
            </div>
        </form>
    </div>
</div>

</body>
</html>