<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>All jokes</title>

    <link rel="stylesheet" th:href="@{/webjars/bootstrap/5.3.2/css/bootstrap.min.css} "/>
    <link rel="stylesheet" th:href="@{/webjars/font-awesome/6.5.1/css/all.css} "/>
</head>

<body data-bs-theme="dark">
<div class="container py-5">
    <a th:href="@{/jokes/all}" class="text-decoration-none text-white py-2 fs-1">Jokes Table</a>
    <!-- Search form -->
    <form th:action="@{/jokes/all}" method="get" class="mb-3">
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search..." aria-label="search-input"
                   aria-describedby="basic-addon1"
                   name="keyword">
            <div class="input-group-prepend">
                <button class="btn btn-outline-secondary" type="submit">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </button>
            </div>
        </div>
    </form>

    <div class="table-responsive">
        <!-- Table accommodates both all jokes and filtered search results  -->
        <table class="table table-striped">
            <thead class="thead-dark">
            <!-- Show headers if jokes are present or no search was performed -->
            <tr>
                <th class="col-xs-4"> Id</th>
                <th> Setup</th>
                <th> Punchline</th>
                <th class="col-lg-2">Author</th>
                <th> Edit</th>
                <th> Delete</th>
            </tr>
            </thead>
            <tbody>
            <!-- Render appropriate list in table (all vs search results) -->
            <tr th:each="joke : ${jokes}">
                <td><span th:text="${joke.id}"/></td>
                <td><span th:text="${joke.setup}"/></td>
                <td><span th:text="${joke.punchline}"/></td>
                <td><span th:text="${joke.author.firstName + ' ' + joke.author.lastName}"/></td>
                <td>
                    <a class="fa-sharp fa-solid fa-pen-to-square icon-link icon-link-hover text-decoration-none"
                       style="--bs-link-hover-color-rgb: 13,202,240;"
                       th:href="@{'/jokes/edit/' + ${joke.id}}">
                    </a>
                </td>
                <td>
                    <a class="fa-solid fa-trash icon-link icon-link-hover text-decoration-none"
                       style="--bs-link-hover-color-rgb: 255, 99, 71;"
                       th:href="@{'/jokes/delete/' + ${joke.id}}">
                    </a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <a class="btn btn-outline-success d-flex align-items-baseline gap-1" th:href="@{/jokes/add}">
        <i class="fa-solid fa-plus"></i>
        <span>Add joke</span>
    </a>
</div>
</body>
</html>